<h1>system overview page</h1>
<p>Controls and data</p>
<h2>Overall system</h2>
<div class='mdl-grid'>
    <div class='mdl-cell--5-col'>
        <h3>Motor status</h2>
        <p>visualisation of motor status and behaviour</p>
    </div>
    <div class='mdl-cell--5-col'>
        <h3>Photography status</h2>
        <p>Most recent photo links</p>
    </div>
</div>
<h2>History</h2>
<ul>
    <li>update</li>
    <li>update</li>
    <li>update</li>
    <li>update</li>
</ul>    
