<h1>Motor status</h1>
<p>There is currently one motor in this system that controls the rotation platform for the photography</p>
<h2>Controls</h2>
<div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
        <h3>Left</h3>
        <button><<</button>
        <button><</button>
    </div>
    <div class='mdl-cell--3-col'>
        <h3>Right</h3>
        <button>></button>
        <button>>></button>
    </div>
</div>
