<h1>Photography</h1>
<p>recent photographs</p>
<div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
    <div class='mdl-cell--3-col'>
        <svg width=100px height=100px>
            <rect x=0 y=0 width=100px height=100px fill='rgba(0,0,0,0.1)'></rect>
        </svg>
    </div>
</div>
